input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	min-height: 53px;
	border-radius: 3px;
	width: 100%;
	display: block;
	font-size: 16px;
	padding: 0px 15px;
	color: #bebebe;
	border: 1px solid #cfddd5;
	background-color: #f2f3f8;
	&::placeholder {
		color: #bebebe;
	}
	&:focus::placeholder {
		color: transparent;
	}
	&:focus {
		color: $greenColor;
		border: 1px solid $greenColor;
	}
	&._error {
		border: 1px solid #f00;
	}
}


textarea.input {
	resize: none;
	padding: 13px 16px;
	background-color: #F8F8F8;
	min-height: 152px;
	&::placeholder {
		color: #A6A6A6;
	}
}